[2020-08-07 02:43] bakerkretzmar opened #2 "Please add phpunit.xml.dist"
Love this package, was literally searching for something just like it earlier this week!

Could you un-gitignore your `phpunit.xml`, or add a `phpunit.xml.dist`, so we can run the tests? Thanks!

[2020-08-07 14:41] edalzell commented on #2
Tests definitely needs fleshing out, done in https://github.com/edalzell/statamic-blade/commit/d16f534856d6c31f0f74169c25e024284668e149

[2020-08-07 14:41] #2 closed

[2020-08-07 21:36] bakerkretzmar opened #3 "Feature request: Bard directive"
It would be awesome if this package allowed us to something like this, but with Blade (where `content` is a Bard field):

[code]

I'm imagining the syntax being as simple as:

[code]

and the partials for each set could be looked up in `partials/sets/` by default. Or that could be configured:

[code]

Could be neat to do 'dynamic' sets too, something like:

[code]

[2020-08-07 22:12] edalzell commented on #3
how does bard content show up...why do you need the directive? Isn't it in an array already?

Or do you want those directives to do that processing that Statamic does?

[2020-08-07 23:12] bakerkretzmar commented on #3
The Bard content comes in as a `Statamic\Field\Value`, which you can get an array from but it's really weirdly structured, any text formatting like links, bold/italics, etc. is another nested array inside that part of the content. This might be less useful than I'm imagining but yeah, I'm basically thinking the directive would do what Statamic does now so I can mostly keep things structured how th

[2020-08-09 21:13] edalzell commented on #3
@bakerkretzmar are you open to helping build this? I need you to try what I've got to see if it matches what you're trying to do.

[2020-08-09 21:26] bakerkretzmar commented on #3
@edalzell yeah! I tried to get something working yesterday with a janky `@foreach` and `@switch` just in a template, to get a feel for how the Bard field is structured, but would love to see what you've come up with 😂

[2020-08-09 22:15] edalzell commented on #3
What I've got so far
<img width="441" alt="image" src="https://user-images.githubusercontent.com/6069653/89742926-1eacc000-da53-11ea-93a2-6f335ab1d9f3.png">

[2020-08-10 01:32] edalzell commented on #3
In 1.1

[2020-08-10 01:32] #3 closed

[2020-08-13 09:52] cfreak opened #4 "Navigation"
Hello,

first of all i like your Plugin. :-)

Is it possible to get the Navigation with your Plugin?

Or do you have any ideas or plans how to Parse the Navigation of Statamic V3 in Blade Templates?

Best Regards
Max

[2020-08-13 22:06] miclf opened #5 "Feature request: @global directive to get global variables"
As quickly discussed in the Statamic Discord earlier today, it would be nice to be able to get global variables via a Blade directive :)

I was thinking of something along the lines of:

[code]

The `set:variable` semantics seems more Statamic-ish to me, which might be especially helpful in projects that have several custom Blade directives that are unrelated to Statamic. I mean, since directives

[2020-08-16 00:29] edalzell commented on #4
Do you mean the `nav` tag?

[2020-08-16 22:56] edalzell commented on #5
done, both @globalset('footer')...@endglobalset and @globalset('footer', 'copyright') are supported.

[2020-08-16 22:56] #5 closed

[2020-08-17 04:09] phpsa commented on #4
Yes, i do believe that is what is wanted there. -- or the ability to call tags would be good to.

[2020-08-17 04:42] edalzell commented on #4
@phpsa can you please give an example of what you'd like for the @nav directive?

Also, you say "call tags", can you please be more specific and open an FR for the ones that are the highest priority for you?

[2020-08-25 00:34] edalzell opened #6 "FR: Entry"
If a view has an `Entry` available to it, would be nice to be able to grab all the data from it in an easy way, including the "special" things like edit url, etc

[2020-09-26 09:02] stuartcusackie opened #8 "How to access Bard fieldsets from a Statamic\Entries\Entry object"
Forgive me if I'm asking in the wrong place but it's very difficult to find any documentation on how to use Statamic objects with Blade.

I'm trying to keep everything pure so that Statamic can be implemented into any existing Laravel apps. Example:

routes/web.php

[code]

views/blog/show.blade.php
[code]

This seems to work for the defaut Bard text items, as long as I have a partials/statamic/te

[2020-09-27 00:40] edalzell commented on #8
What does your data look like @stuartcusackie? Can you post an example?

[2020-09-27 08:21] stuartcusackie commented on #8
Well if I dump the $set like so:

[code]

Then I will get output like so:

[code]

So I thought that maybe I need a View Model to prepare the data of my custom set but it doesn't seem to trigger anything. Do I need to trigger the cascade or something like that before passing the Entry object to my view?

[2020-09-27 15:22] edalzell commented on #8
Closing in favour of #6

[2020-09-27 15:22] #8 closed

[2020-09-27 17:28] addgod commented on #4
It would be nice with a @nav directive. Unless there is a way to use on of the other tags to get em.

[2020-09-30 14:34] Blucreation opened #9 "FR: Taxonomy"
I need the following antler functionality in blades if its possible:

[code]

[2020-09-30 14:35] Blucreation opened #10 "FR: PHP 7 compatability."
If would be nice if this would work with earlier PHP7 versions.

[2020-09-30 15:19] edalzell commented on #10
Not going to support lower versions, sorry.

[2020-09-30 15:19] #10 closed

[2020-10-02 04:19] edalzell commented on #4
Progress:
[code]

[2020-10-02 05:26] edalzell commented on #4
Released in 1.3

[2020-10-02 05:26] #4 closed

[2020-10-02 05:27] edalzell commented on #9
Navigation done in https://github.com/edalzell/statamic-blade/issues/4 @Blucreation

[2020-10-06 15:43] FlorianMoser opened #11 "Update Laravel requirements to 8"
Maybe you could update the Composer requirements so the package is compatible with Laravel 8 (supported in Statamic 3.0.15).

[2020-10-06 20:44] #11 closed

[2020-10-07 06:24] FlorianMoser commented on #11
Perfect, thanks for the fast fix!

[2020-10-15 09:02] FlorianMoser opened #13 "Missing context in Statamic\Tags\Tags"
Since Statamic 3.0.17, the Statamic\Tags\Tags class requires a context. This causes the Blade directives to throw a "Call to a member function all() on null" exception (happens in Statamic\Tags\Structure::toArray(), where the context is required).

An easy fix is registering an empty context in every directive (ie the Edalzell\Blade\Directives\Nav class):

[code]

However I'm not sure yet what the

[2020-10-15 13:50] #13 closed

[2020-10-16 12:27] awcodes opened #14 "FR: Make Site variables available"
Trying to do
[code]
but getting the following error:
[code]

Am I doing something wrong or is the site global not available?

Thanks for the great addon.

[2020-10-16 23:44] edalzell commented on #14
Is `site` an actual global? Like you created it?

[2020-10-17 02:12] awcodes commented on #14
Site is a global provided in antlers. https://statamic.dev/variables/site

[2020-10-17 22:37] edalzell commented on #14
Ah ya, that's not what this blade directive is for. This one is for actual GlobalSets, not global variables.

[2020-10-18 00:22] edalzell commented on #14
there you go @awcodes, added a new `site` directive for you in the latest release.

[2020-10-18 00:22] #14 closed

[2020-10-18 03:54] kennyhorna opened #15 "Issue when having a Bard with sets of multiple fields"
Hey, great work by the way. This package make it a little bit easier the way to start working with Statamic.

### The current problem

The issue is the following while working with `Bard` elements: Currently, just the first value instance of Value is included in the payload of each set under the key `content`:

[code]

### Use case

I'm rebuilding my blog but now with Statamic. Given that the main

[2020-10-18 19:39] awcodes commented on #14
@edalzell Thank you so much. This is awesome. I really appreciate it.

[2020-10-18 20:40] #15 closed

[2020-10-31 10:32] stuartcusackie opened #17 "Replicator directive?"
I am currently attempting to output replicator fields like so:

**post.blade.php:**
[code]

**Hero set template example:**
[code]

![image](https://user-images.githubusercontent.com/20210934/97787973-6607a000-1bad-11eb-8f26-7241d5520d0e.png)
Only the asset filename is available, and I don't see an easy way to access alt text or other image attributes.

I'm having similar trouble with the Bard fiel

[2020-10-31 11:11] stuartcusackie opened #18 "Images within bard fieldsets don't get passed alt"
If I add an image directly to a bard field then I can see the alt text as part of the content, which is fine.

However, If I add an image to a field set within a bard field then only the image filename is available, which isn't very useful.

Here is a screen shot of a 'hero' field set contained within my bard field:
![image](https://user-images.githubusercontent.com/20210934/97777643-8a418d80-1b69

[2020-11-04 04:11] edalzell commented on #18
@stuartcusackie these directives are meant to be used on their own, not with custom controllers.

[2020-11-04 10:27] stuartcusackie commented on #18
Oh right. It seems I am going about this entirely the wrong way then.  I would have thought the Entry object would be compatible and fully accessible through any part of Laravel.

I'm fumbling my way round Statamic at the moment. There is literally no material available on custom integrations, but perhaps this is an issue for the Statamic core.

Thanks.

[2020-11-04 10:27] #18 closed

[2020-11-04 14:41] edalzell commented on #18
Ya that's not quite there yet @stuartcusackie, that's why I made my addon, to give Blade folks access to Statamic. Feel free to add FRs to the repo for bits you need to keep going. Believe there's one already for Entry and Taxonomy.

[2020-11-23 13:08] dubcanada commented on #17
If you do

[code]

It will work.

[2020-11-23 16:14] edalzell commented on #17
PRs gladly accepted @dubcanada

[2020-11-25 12:00] stuartcusackie commented on #17
I'm afraid that doesn't work for my implementation:

[code]

[code]

[code]

[2020-11-25 12:42] dubcanada commented on #17
Just a random thought, but have you tried using the Bard directive with the Replicator data? I believe they way they are implemented is basically the same.

[2020-11-25 13:27] stuartcusackie commented on #17
I believe I have. Not 100% sure but yeah, I think I tried that. It seems my custom implementation, show below, doesn't process the entire Entry object in the same way as Statamic's default routing would:

[code]

[2020-11-28 01:16] edalzell commented on #17
I got replicator going, will release this weekend.

[2020-11-30 11:09] stuartcusackie commented on #17
I was using a custom routing / controller structure like so:

routes/web.php
[code]

PostController.php
[code]

[2020-12-04 03:32] edalzell commented on #17
Why do it that way though @stuartcusackie? Make that route the collection route so Statamic will feed in the data for you?

[2020-12-04 04:16] edalzell commented on #17
Why do it that way though @stuartcusackie? Make that route the collection route so Statamic will feed in the data for you?

If you absolutely **must** do it that way, you likely need an `@entry('collection-handle', 'the-slug')` directive right?

[2020-12-04 04:17] edalzell commented on #17
@stuartcusackie come on the discord and let's talk about it...I'd like to get this sorted for folks like you

[2020-12-04 10:43] stuartcusackie commented on #17
To me that's a pretty standard Laravel route / controller / view structure, and with it I don't have to worry about Statamic's routes conflicting with my pre-existing Laravel routes.  I would prefer to stick even closer to Laravel and pass the entry as standard blade data, e.g.:

[code]

but with that approach the full entry data doesn't become available to the view.

An @entry('collection-handle'

[2020-12-06 23:50] edalzell commented on #17
Should be good to go now @stuartcusackie in v2.0.

[2020-12-06 23:50] #17 closed

[2020-12-06 23:50] edalzell commented on #6
add in v2.0

[2020-12-06 23:50] #6 closed

[2020-12-07 10:25] stuartcusackie commented on #17
Brilliant. Thank you.

[2020-12-10 22:48] FlorianMoser opened #20 "Add an Augment directive"
Currently there is the `@data` directive to augment `$data->value()` fields. However, Statamic generates data without values. Take term entries, for example.

Term entry pages have a variable `$entries`, which is a `Statamic\Stache\Query\EntryQueryBuilder` object. Using `Statamic\Stache\Query\EntryQueryBuilder::get()` we get a `Statamic\Entries\EntryCollection` object, which needs augmentation. We

[2020-12-13 03:21] #20 closed

[2020-12-13 03:22] edalzell commented on #20
I don't like my solution, but I made the `@data` tag a bit smarter so it'll work on `$entries` and other `Builder`s.

[2020-12-13 03:49] #9 closed

[2020-12-14 17:37] FlorianMoser commented on #20
Nice!

Yeah, I know what you mean. But I see no other option at the moment.

[2020-12-17 16:45] johncarter- opened #21 "IsDirective trait throwing an exception"
I am using this in my template
[code]
An exception is thrown which can be seen here: https://flareapp.io/share/Rmrg2lMP#F67

It actually throws this on any of the directives.

[2020-12-17 16:48] edalzell commented on #21
@johncarter- can you throw a `dd($data);` in the line above that if statement and put the results here?

[2020-12-17 16:49] johncarter- commented on #21
Sure, ill be a while though.

[2020-12-17 17:43] johncarter- commented on #21
[code]

[2020-12-17 17:56] johncarter- commented on #21
Seems if I change the method to this it works:
[code]

[2020-12-19 21:03] edalzell commented on #21
@johncarter- can you try with the latest version please?

[2020-12-20 07:58] johncarter- commented on #21
Which latest version? 👀

[2020-12-20 18:18] edalzell commented on #21
Like any normal package, `composer update`, or check here: https://github.com/edalzell/statamic-blade/releases

[2020-12-21 11:57] johncarter- commented on #21
It was, and still is on v2.1.

composer.lock:

![image](https://user-images.githubusercontent.com/3776888/102774685-5aea1880-4383-11eb-9bc1-f3c2678e9066.png)

composer.json
![image](https://user-images.githubusercontent.com/3776888/102774718-72c19c80-4383-11eb-86ff-98c0e2cdd764.png)

[2020-12-31 23:53] edalzell commented on #21
@johncarter- I have the same code in my test template:

[code]

And I don't have this error.

Hit me up on Discord sometime and we'll figure it out.

[2021-01-02 16:23] nfragkos opened #22 "Can't install with PHP 8.0"
Hi the readme states that PHP 7.4+ is required however with PHP 8.0 I can't installed it. Here's the composer output:

[code]

[2021-01-03 18:53] #22 closed

[2021-01-16 15:39] canastro commented on #21
Im having the same error in a new project, even for the @collection component

[2021-01-16 16:58] jakubjo commented on #21
I have the same error with the current version using the `@collection` directive.

[2021-01-16 17:13] edalzell commented on #21
Alrighty, I'll take a look this weekend

[2021-01-16 17:21] edalzell commented on #21
@canastro @jakubjo what are your steps for making this happen? I can't make this break. My steps:

* created a new Statamic site, then `composer required edalzell/blade-directives`
* Added a second page to the `pages` collection.
* made a `try-blade.blade.php` file with this in it:
[code]
* add a route in my `web.php`, `Route::view('/blade', 'try-blade');`
* visited `http://mysite.test/try-blade`

[2021-01-16 17:30] jakubjo commented on #21
I had an existing Laravel website to which I added statamic.

- Created a "pages" Collection with the page "blog" and a Blade template
- Tried @collection -- got the issue
- I use blade components for the layout

The view's code:

[code]

[2021-01-16 17:39] edalzell commented on #21
@jakubjo would you be willing to send me (pro give me quick access to the repo) your site? Or at least enough of it to reproduce the issue?

erin@silentz.co

[2021-01-16 17:56] jakubjo commented on #21
You seem a decent man. Let's try it out. There are some, hopefully, harmless secrets. Please delete the repo afterwards. You need to checkout the `statamic` branch.

[2021-01-17 00:02] edalzell commented on #21
I can't find that code mentioned above, can you please let me know where it is? Perhaps come on the Statamic discord and PM me?

[2021-01-26 15:59] brizzo opened #23 "Shorthand @site directive not properly registered"
The `@site` shorthand directive does not get registered. For example `@site('short_locale')` does not work. When booting the directives, this expression is expected to have a comma. Since it does not, the `Site` class's `handleKey` function is never called.

A work around is to use `@site('shote_locale', '')`.

[2021-02-01 00:23] edalzell commented on #23
in 2.1.2, thanks for finding @brizzo

[2021-02-01 00:23] #23 closed

[2021-02-23 16:55] stuartcusackie opened #26 "Replicator ordering not showing in live preview"
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/20210934/108878083-c9ec2380-75f7-11eb-8b1c-39c28b236b6b.gif)

Not sure if this is a problem with this package or Statamic's core but I thought you might know better. Ordering works fine when viewing the front-end but not in Live Preview.

Let me know if you want me to add it to the main Statamic issues repo.

[2021-02-23 17:35] edalzell commented on #26
You are using the blade directive in your view?

[2021-02-23 17:37] stuartcusackie commented on #26
I think I am!

[code]

Also, the 'Included in output' toggle seems to have no effect either, but both of these features work on the front-end.

[2021-02-25 10:06] stuartcusackie commented on #26
Duncan McClean has a theory about it: https://github.com/statamic/cms/issues/3297

[2021-02-26 20:31] stuartcusackie commented on #26
I just figured out that this works:

[code]

So I don't need to use the entry directive it seems.

[2021-02-26 20:31] #26 closed

[2021-03-02 14:38] stuartcusackie opened #28 "Question: How to use Glide?"
Any advice on the best way to handle assets and utilise Glide within blade? Will this package eventually have an @asset directive?

I found this on the Discord:
`<img src="{{ app(Statamic\Imaging\Manager::class)->manipulate($image['id'], ['w' => 700, 'fm' => 'png']) }}" />`

It seems to do the job, though I'm not sure if the url it produces is what I would get from Antlers:
`/img/asset/aW1hZ2VzL2V

[2021-03-04 23:59] edalzell commented on #28
There's a glide directive:

[code]

[2021-03-04 23:59] #28 closed

[2021-03-05 10:28] stuartcusackie commented on #28
Fantastic. Thank you.

[2021-03-10 03:51] stuartpringle opened #30 "Ordered Collections not sorting properly"
I have a collection of team members on my site.  I've set the collection to 'Tree' (or, sortable) which gives me this in my .yaml file:

[code]

In my .blade.php template file, I'm using the following (with other html and such):
[code]

This refuses to sort according to the tree noted above.  Instead, the default sort order is by title descending.

One of my employees' .md file:
[code]
Let me know

[2021-03-20 13:52] canastro opened #31 "Feature request - Support for forms directive"
Is it feasible to add support for forms tag? So far seems to be the only thing I'm missing to completely ditch antlers for statamic with blade.

[2021-03-20 21:22] canastro commented on #31
I got something working... Not perfect but gets the job done, i think.

Created the following directive:
[code]

Created the following blade component:
[code]

And then I can use this like so:

[code]

[2021-03-22 02:39] edalzell commented on #31
done in v2.2

[2021-03-22 02:39] #31 closed

[2021-03-22 04:21] edalzell commented on #30
Should be fixed in v3.0

[2021-03-22 04:21] #30 closed

[2021-04-08 15:19] robdekort opened #34 "FR: Assets integration"
I love this Erin. Works really well and fluent thus far.

It would be nice if you could easily fetch asset metadata like `alt`, `focus` or `focus_css`.

[2021-04-08 23:45] edalzell commented on #34
Can you show me how you want to use it (pseudo code is fine)?

[2021-04-09 06:33] robdekort commented on #34
Probably combined with the `@glide` directive in _most_ cases:

[code]

I'm really new to Blade so I'm not sure if something like this is conventional.

[2021-04-09 16:43] stuartcusackie opened #35 "Should $slug be a string and not a Statamic\Fields\Value?"
I'm running into a tricky problem with Livewire and blade directives. My component should accept a simple slug string:

`<livewire:location-search :location-slug="$slug" />`

So then I could use this slug to easily retrieve the Location Entry:

`@entry('locations', $locationSlug)`

The problem is that I can't pass $slug this way to the Livewire component - It won't accept Statamic\Fields\Values, o

[2021-04-09 16:48] stuartcusackie commented on #35
Nevermind - This works:
`$slug->raw()`

[2021-04-09 16:48] #35 closed

[2021-04-15 03:32] jonlongnecker opened #36 "@collection directive multi-site support?"
I'm working on a Statamic site that has been "intertwined" with a custom Laravel app. They've built the entire front-end with Blade templates using Blade Directives.

My work with them has been to add multilingual support for a Spanish version of the site. I've worked through most of that, and the site and it's Spanish content are loading as expected at the corresponding URL's.

There are a few pl

[2021-04-15 17:01] jonlongnecker commented on #36
Turns out updating to v.3 of the add-on fixed this. Composer was capped at v.2 and we didn't realize there was a newer version available.

[2021-04-15 17:01] #36 closed

[2021-04-17 18:36] edalzell commented on #34
Hey @robdekort `$image` there is the path right? We'd also need the container, right? I'm not sure that's avail by default in Blade views (like it would be in Antlers).

[2021-04-19 17:17] stuartcusackie opened #38 "FR: Determine if a collection is empty?"
What would be the most efficient way to determine that the collection is empty?

[code]

I would naturally try something like:
[code]

But the [standard antler variables](https://statamic.dev/tags/collection#variables) would work too if they were accessible.

[2021-04-19 17:47] stuartcusackie opened #39 "Does pagination work on collections?"
Is the standard collection pagination handled by this package?

I was trying this to no avail:

[code]

[2021-04-23 02:51] edalzell commented on #39
Don't think so, sorry.

I'll take a look at this in a bit.

[2021-04-23 02:51] edalzell commented on #38
That's a good feature request, thanks!

[2021-04-28 06:29] connor11528 commented on #39
What is the livewire approach to pagination? I'd also like to be able to display multiple pages of results :)

[2021-04-28 09:32] stuartcusackie commented on #39
Well, Livewire is a little more advanced if you haven't used [Laravel's basic pagination](https://laravel.com/docs/8.x/pagination) first. You can use this route / controller approach for Statamic as well.

The Statamic docs have the basics for routing mentioned [here](https://statamic.dev/controllers), but no examples of paginating entries in the controllers. Here's a example:

[code]

For Livewir

[2021-04-28 18:32] connor11528 commented on #39
Okay neat @stuartcusackie! I didn't realize I could call paginate and orderBy on the Entry collection like that. How awesome.

[2021-05-06 14:47] stuartcusackie opened #40 "FR: @elsedata could be useful"
At the moment it's kind of confusing to see if a field is empty. This is what I'm trying to do:

[code]

However the @if statement passes, even when the field is empty. In fact, these both pass:
[code]

So I find myself having to remember to do this:
`@if(isset($field) && is_array($field))
`

I was thinking that an **@elsedata** would solve this...?

[2021-05-07 16:52] edalzell commented on #40
@stuartcusackie can you try the latest release w/ the augmentation? Does that solve this issue?

[2021-05-07 17:21] stuartcusackie commented on #38
@edalzell  I think the no_results variable might be more flexible, and even better if the others variables would then be available too (e.g. total_results)?

@elsecollection might make sense too because I think Laravel uses similar things: @auth @elseauth @disk @elsedisk etc.

[2021-05-07 17:38] stuartcusackie commented on #40
hmm, updating to 3.2 actually broke my site, without switching to the AugmentationViewServiceProvider:

`Cannot use object of type Statamic\Fields\LabeledValue as array`

Sorry, I may not have explained clearly. A lot of my code is based around \Statamic\Fields\Value objects and the way it was in 3.1 was totally fine, except for this particular small problem.

[2021-05-07 18:30] edalzell commented on #40
@riasvdv see above.

@stuartcusackie sorry, I'll take a look this weekend, hopefully. Rollback to 3.1 in the meantime, of course.

[2021-05-07 18:34] stuartcusackie commented on #40
@edalzell

Cheers. I'm still testing here. I will update soon.

[2021-05-07 19:03] stuartcusackie commented on #40
After more testing and a few tweaks to my code, 3.2 in general seems to work fine and it's easier to access fields. I don't think I will be using the AugmentationViewServiceProvider for the moment however.

The original problem I raised isn't really solved. I still have to do a second check to see if a field is empty:
`@if(isset($imageField) && $imageField->raw())`

Actually there is one thing bro

[2021-05-07 19:28] edalzell commented on #40
Ya that's an issue w/ Statamic's augmentation. Even null values are `Value`s. I've had to code around that in custom tags/modifiers.

Not sure the best way to handle.

[2021-05-07 19:29] stuartcusackie commented on #40
That's fine. This is all relatively new to me and I'm confused. @elsedata stills seems like it would be a nice one though.

[2021-05-10 07:58] robdekort commented on #34
Sorry for my super late response. I completely missed this. `$image` would indeed be the path, just like the [`asset` tag in Antlers](https://statamic.dev/tags/asset#content). We don't need to provide the container there. As a user I wouldn't expect you'd need to provide it in Blade. But maybe I'm misunderstanding?

[2021-05-12 02:51] #34 closed

[2021-05-12 03:15] #38 closed

[2021-05-12 04:01] edalzell commented on #39
@stuartcusackie got it working with the latest release, when I release try:

[code]

[2021-05-12 04:01] #39 closed

[2021-05-12 04:04] edalzell commented on #40
@stuartcusackie what is `imageField` here?

[2021-05-12 09:13] stuartcusackie commented on #40
@edalzell $imageField is just a regular single file asset field. It was just an example. In my project it is actually called **$open_graph_image**, which gets passed directly to the template as a Value object - I don't think I'm doing anything unusual here.

Here is my code. No directives have been used when the first @if statement is called, so that's why it's still a `Value`.

[code]

Bear in mi

[2021-05-14 22:39] canastro opened #45 "Issues rendering a Bard element within a replicator"
Having the following data:
[code]

Where tabs is a replicator and description is a bard element.

When I try to render it as:

[code]

I face the following error:

[code]

Just to provide a bit more detail:
- any other bard element I have on the same page that is at the root level (ie. not part of a replicator) is working just fine.
- this route is a statamic page/entry

[2021-05-14 22:43] edalzell commented on #45
Can I see the blueprint please?

[2021-05-14 23:27] canastro commented on #45
Sure:

[code]

The one not working is for: joint_comission > joint_comission_tabs > description:

[2021-05-17 12:48] nticaric opened #46 "@bard directive is not working"
In the source code I cannot find the @bard directive

When using it in a blade template file it doesn't get rendered

[code]

[2021-05-18 15:22] MarlBurroW opened #47 "[Question] How to check if a field is set or not ?"
I want to display an optional image in my template, but I need to now if my image field is set or not.

So I tried somehting like this:
[code]
But it doesn't work because $image is always an instance of `Statamic\Fields\Value`, so never a falsy value.

Is there a better `statamic-blade` way to check if a field is set or not ? It's maybe more a Statamic related issue, I don't know.

Thanks

[2021-05-18 15:43] MarlBurroW commented on #47
Seems to be related to #40

[2021-05-18 15:47] MarlBurroW commented on #47
Found this from #40:
[code]
Seems a bit hacky and not very elegant, but does the job.

[2021-05-18 17:47] MarlBurroW commented on #28
My way to use glide in statamic with blade:

Create a `helpers.php` in `app/` and autoload it:

`composer.json`
[code]

`helpers.php`
[code]

`In any *.blade.php`
[code]

Hope it may help

[2021-05-20 10:20] stuartcusackie commented on #47
I'm currently going with:

[code]

but today I realised that this still isn't enough. In some cases I have to check whether the file actually exists:

[code]

[2021-05-20 10:22] stuartcusackie commented on #46
@bard got replaced with:

[code]

[2021-05-20 10:25] nticaric commented on #46
Thanks!

[2021-05-20 10:25] #46 closed

[2021-05-20 11:32] stuartcusackie commented on #47
Here's what I have gone with for now (not very well tested):

[code]

[code]

[2021-05-21 16:34] stuartcusackie opened #48 "How to output links with the pagination directive?"
Hi, I'm just trying to figure out the pagination directive:

To add pagination links I would usually do something like:

`{{ $paginated->links() }}`

but I don't see how that's possible with this directive. I did a dump of the variables but couldn't see anything to do with pagination.

Cheers!

[2021-05-22 09:11] stuartcusackie opened #49 "Possible problem with @glide"
Hey, I've got a crashing server and the only clues I have are Glide exceptions. I'm not sure if it's a problem with this package, or with statamic, or with glide / guzzle. I've posted the full bug details on the Statamic github: https://github.com/statamic/cms/issues/3761

The error seems to eminate from calls to the @glide directive. It causes long running php requests that eventually break nginx

[2021-05-24 00:32] edalzell commented on #48
Let's see your template.

Here's mine:
[code]

<img width="437" alt="CleanShot 2021-05-23 at 17 31 39@2x" src="https://user-images.githubusercontent.com/6069653/119281993-c5caa480-bbec-11eb-9717-7afe3a8b39ec.png">

[2021-05-24 00:33] edalzell commented on #47
Ya Statamic augments fields into a `Value` object even if there's nothing there, sorry. I don't like it either.

[2021-05-24 00:34] edalzell commented on #47
@MarlBurroW what about an `@ifdata` directive, would that be better?

[2021-05-24 00:35] edalzell commented on #49
If you use Antlers do you get the same issue?

[2021-05-24 00:42] edalzell commented on #45
Your template example has none of my directives in it though, is there more to it?

[2021-05-24 09:25] stuartcusackie commented on #48
Sorry, your right. That data is available.

I think I was just confused by the fact that different variables get returned when using 'paginate' => true.

That's fixed now but one other small problem:

[code]

The above will produce an error because `@foreach($entry['entries'] as $entry)` overwrites `$entry['paginate']['prev_page']`. I have to change that loop to `@foreach($entry['entries'] as $ent

[2021-05-24 09:57] stuartcusackie commented on #49
Unfortunately that would take a major reworking on my code. It's all blade component based.

The server hasn't crashed in a couple of days now so I will update if that happens again.

[2021-05-24 19:57] MarlBurroW commented on #47
Yes, this will be slightly more straighfoward with this directive.
But the best for me would be to have just a null value in the $variable when `->raw()` is null, but I guess that involves changing the way statamic injects variables into the blade template, that's maybe not possible with the plugin API.

[2021-05-25 23:45] edalzell commented on #47
It's not, that's up to Statamic. I can do the `@ifdata` directive, that's about it.

[2021-05-25 23:47] edalzell commented on #48
Ya that's a bit tricky the way I have this architected at the moment. I'll see if there's anything I can do.

[2021-05-25 23:48] edalzell opened #50 "Change the collection variables when pagination is used."
Sorry, you're right. That data is available. I think I was just confused by the fact that different variables get returned when using 'paginate' => true.

That's fixed now but one other small problem:

[code]

The above will produce an error because `@foreach($entry['entries'] as $entry)` overwrites `$entry['paginate']['prev_page']`. I have to change that loop to `@foreach($entry['entries'] as $en

[2021-05-25 23:49] edalzell commented on #48
Closing this in favour of the new issue I created: https://github.com/edalzell/statamic-blade/issues/50

[2021-05-25 23:49] #48 closed

[2021-05-26 00:05] edalzell commented on #47
Might have a solution for this if you're using Laravel 8: https://twitter.com/LukeDowning19/status/1397200594771787776

[2021-06-03 09:04] lukdiekm opened #51 "Get fields in @form"
Hi,

is it possible to get the field of a form like in antlers?

Thank you,
Lukas

[2021-06-17 16:10] hotmeteor commented on #45
I've seen this too, but I'm not sure what's causing it. It used to work.

[2021-06-17 17:01] hotmeteor commented on #45
OK I think I figured it out. If your Bard instance has no sets it doesn't get rendered as an iterable the same as if it does have sets. Not sure the details there though.

[2021-06-17 17:07] edalzell commented on #45
AH, nice find

[2021-06-24 18:44] ElliotHouse opened #52 ""Undefined array key" error when retrieving all posts from a collection."
"Undefined array key" error when trying to retrieve all posts from a collection.

[code]

[2021-06-24 19:39] edalzell commented on #52
You're missing a closing parentheses here `@collection('articles', ['orderBy' => 'desc'] ` <----

Should be `@collection('articles', ['orderBy' => 'desc'])`

[2021-06-25 11:22] marcorieser opened #53 "@ray directive not working with augmentation enabled"
I use the blade template engine and have `spatie/laravel-ray` installed on my statamic project. I can use `@ray($var)` in my view files and the output gets logged to the Ray app.

I turned on augmentation by replacing the `Illuminate\View\ViewServiceProvider::class` with `Edalzell\Blade\Augmentation\AugmentationViewServiceProvider::class` and now my browser prints the `@ray($var)` directive call.

[2021-06-26 21:29] ElliotHouse commented on #52
That was my mistake in the example there. The error is still happening when using the if statement.

[2021-07-01 03:30] edalzell commented on #52
Also, where did you get `orderBy` from? The `collection` tag uses `sort`.

<img width="755" alt="CleanShot 2021-06-30 at 20 30 31@2x" src="https://user-images.githubusercontent.com/6069653/124060502-07b3eb00-d9e2-11eb-9589-9068adf36ad1.png">

[2021-07-01 07:13] riasvdv commented on #53
In your composer.json you can disable the auto discover for Ray:

[code]

And manually add the `\Spatie\LaravelRay\RayServiceProvider::class` to the providers in `config/app.php` below the AugmentationServiceProvider.

With the auto discovery there's sadly no way to influence the order in which the service providers are loaded.

[2021-07-01 20:38] edalzell commented on #53
Thanks @riasvdv.

Try that @marcorieser.

[2021-07-01 20:38] #53 closed

[2021-07-02 05:08] marcorieser commented on #53
@riasvdv thank you, i'll try that.

[2021-07-13 01:59] arfchmn opened #54 "error while downloading"
hello,

i have some problem when run composer in my project, you can see error message on attachment photo

<img width="1099" alt="image" src="https://user-images.githubusercontent.com/43500645/125378228-92202580-e3b8-11eb-8d17-9275b3550677.png">

Thank you,

[2021-07-13 02:15] edalzell commented on #54
What version of php are you running?

[2021-07-13 02:32] arfchmn commented on #54
im running with PHP 7.2.22

[2021-07-13 03:28] edalzell commented on #54
Need at least php 7.4

[2021-07-13 03:28] #54 closed

[2021-07-13 06:59] arfchmn opened #55 "can't Automatic augmentation of Statamic values"
hai edalzell,

sorry for my mistake about php version, i just update to php8.0 its work,
but im still having problem after changing app.php for replace Illuminate\View\ViewServiceProvider::class, with \Edalzell\Blade\Augmentation\AugmentationViewServiceProvider,

when im command php artisan serve an error message comes, u can see on this screenshot

<img width="1385" alt="image" src="https://user-

[2021-07-25 03:09] #51 closed

[2021-07-26 23:21] stuartcusackie opened #58 "Can queries be optimised?"
nevermind!

[2021-08-04 21:00] ElliotHouse commented on #52
I seem to still be getting the issue "Undefined array key" when there are no posts in the collection. If I have a post in the collection it works otherwise the first field in the collection displays the error "Undefined array key".

For example when there are no posts in this collection I get the error Undefined array key "thumbnail".

@collection('products', ['sort' => 'date:desc'])
	@if($entry =

[2021-08-06 21:08] grandpalacko commented on #52
@ElliotHouse If there are no entries in the collection, the `$entry` variable will be an array:

[code]

So in your case the condition should be:

[code]

[2021-08-06 21:10] grandpalacko commented on #55
@arfchmn You should replace `Illuminate\View\ViewServiceProvider::class` with the ServiceProvider's classname (you are missing `::class`):

[code]

[2021-08-13 09:09] BobWez98 opened #60 "FR: add Bard directive"
The about section of the repo states that the @bard directive is implemented but it's not working for me. It just outputs @bard($content) as a string.

[2021-08-14 23:16] edalzell commented on #60
Ya looks like I wrote that and then didn't implement, sorry about that. I'll make this a feature request

[2021-08-17 11:14] stuartcusackie opened #61 "Nesting @data directives"
I have an Article (Entry) that has a related Article (Entry) - via an Entry Relationship field.

### Attempt One:

The below causes an error when $related_article is unpublished, which can happen if my users unpublish the post. I think what's happening is that `@data` and the augmentation behind it excludes the related_article automatically when it's status is unpublished.

[code]

### Attempt Two

[2021-08-18 18:44] jasonvarga commented on #61
Instead of `\Statamic\Facades\Entry::find($related_article->raw())` just do `$related_article->value()`.

[2021-08-19 10:43] stuartcusackie commented on #61
Thanks! I'm still trying to understand what value() can be used for.

**New solution:**

[code]

[2021-08-19 10:43] #61 closed

[2021-08-19 19:06] marcorieser opened #63 "Laravel models are converted to arrays inside of blade components"
I use Statamic along with one of my Laravel applications. I have the `AugmentationViewServiceProvider` enabled to access Statamic data inside of my Statamic views. So far everything works.

The route `/courses` is managed by Laravel and I pass all the courses to `courses/index.blade.php`. There I pass each course model to a blade component `<x-course :course="$course"/>`.

When dumping the course

[2021-08-19 22:18] edalzell commented on #55
Please try the above and re-open if still an issue

[2021-08-19 22:18] #55 closed

[2021-08-19 22:19] edalzell commented on #52
Please try the above and re-open if still an issue, thanks.

[2021-08-19 22:19] #52 closed

[2021-08-19 22:20] edalzell commented on #60
@BobWez98 what would you want it to output?

[2021-09-20 22:30] stuartcusackie opened #65 "Nav field problem: Toggle value - Undefined Array key"
## Bug Description

For some reason the data returned for a  toggle field on a  'Nav Item' link is different to an 'Entry link'. I originally thought this was a core problem so you'll find more detail on my original issue: https://github.com/statamic/cms/issues/4290

## The Code

My toggle field is called **hide_from_header**. The below code will produce an error, but only for 'Nav Item' links.

[

[2021-09-21 04:12] edalzell commented on #65
Confirmed

[2021-09-28 02:25] MeikyuuTrader opened #66 "Undefined array key "no_results" for @collection when entries exists using the example @collection code from README"
When there's entries in a selected pages, the key no_results returned an undefined array key error. When there isn't any entries then this works fine.

[code]

Given that's the example in the README for collections, it's somewhat confusing. Changing it to check for array key allows the code to work with or without any entries in the collection.

[code]

[2021-10-01 01:51] #63 closed

[2021-10-14 10:01] vdelyanov opened #67 "Uninstall issue"
Is it possible to uninstall and return the statamic stricture and antlers files?

[2021-10-14 14:24] torian257x opened #68 "$data->jsonSerialize() causing slightly unexpected behavior in AugmentsValues.php"
big fan of your addon, saved me tons of time as I work with blade views.

I now noticed that my Enums from another great library ( https://github.com/BenSampo/laravel-enum ) always get "cast" to string

I first wrongly thought it's an issue with said library here https://github.com/BenSampo/laravel-enum/issues/229

but found the issue to be here:
https://github.com/edalzell/statamic-blade/blob/mai

[2021-10-16 23:35] edalzell commented on #67
Sure, remove it like all packages `composer remove edalzell/blade`

[2021-10-16 23:35] #67 closed

[2021-10-17 00:27] edalzell commented on #68
@torian257x can you provide a working repo that shows this issue please?

[2021-10-18 14:58] torian257x opened #70 "IMHO 3.5.1 should be version 4.0 or at least 3.6"
this is a BIG breaking change

imho delete 3.5.1 and create v 4.0 or at least 3.6

otherwise your entire userbase will update to 3.5.1 and all will have a broken application

[2021-10-20 02:36] edalzell commented on #68
Thanks for the repo, I'll take a look.

[2021-10-20 06:54] ryanmitchell commented on #65
Can you not do something like:
`@if(!optional($item['hide_from_header'])->value())`

[2021-10-20 08:49] stuartcusackie commented on #65
Sure yeah, there are many ways to work around. I was just flagging this for inconsistency. I'm sure it's not the intended behaviour.

[2021-11-02 12:56] stuartcusackie opened #73 "Could we get a helper to convert an Entry to an Array?"
I'm just looking for an easy way to convert an Entry object to the same format provided by your AugmentationViewServiceProvider. Could we get a helper function added for this? I have a temporary solution below that might explain what I'm trying to do.

This is the class I have written. It's basically the same code from your `AugmentedView `class. Maybe we can add this to the package's  'Augmentati

[2021-11-02 15:15] edalzell commented on #73
Sorry for the silence @stuartcusackie been super busy. I'll try to take a look at all the issues/comments this week.

[2021-11-02 16:49] stuartcusackie commented on #73
No problem at all! I'm getting on fine with my Statamic Blade builds and there's no major issues.

[2022-01-18 14:27] stuartcusackie opened #75 "Using the locales tag"
How would one go about outputting links to translated pages using the antlers locales tag?

I am trying to use the tag helper but this is producing an error for me:

[code]

tag('locales') returns nothing. Neither does this:

`@dump(tag('locales', ['en']))`

[2022-01-20 04:40] edalzell commented on #75
What error?

[2022-01-20 04:41] edalzell commented on #73
Ya PR would be good.

[2022-01-20 10:09] stuartcusackie commented on #75
The foreach approach produces this error:
`foreach() argument must be of type array|object, string given`

This is because `tag('locales')` returns an empty string. The same goes for `tag('locales', ['en'])`

I also tried the tag helper from [this blog post](https://rias.be/blog/using-laravel-blade-with-statamic), but it's the same deal.

[2022-01-20 10:47] stuartcusackie commented on #73
Done!

[2022-03-04 10:21] furkanyesil opened #78 "Laravel 9 support"
Hello,

please add support for Laravel 9.

[2022-03-06 20:28] dtorras commented on #75
@stuartcusackie did you find a solution?

I've tried to define the context (as described in this PR https://github.com/edalzell/statamic-blade/pull/77), and it works on a simple Blade file. Statamic tries to find the data id on [this line](https://github.com/statamic/cms/blob/5dc32c03457ef50c4a0d91dee05fef27da9ffac6/src/Tags/Locales.php#L160), so you need to define the context with the id.

```tag

[2022-03-07 00:38] edalzell commented on #75
FYI, I'm hoping that 3.3 (coming out soon), makes this package unnecessary.

[2022-03-07 00:46] edalzell commented on #78
I'll review this package when Statamic 3.3 is out, which will support Laravel 9.

[2022-03-07 11:28] stuartcusackie commented on #75
@dtorras I am afraid not. Instead I created a blade component called `LocaleLink`, which accepts the current entry id and the required locale name as a properties. The blade component then grabs the localised version of the current entry in it's constructor using these helpers that I wrote:

[code]

[2022-03-07 12:33] dtorras commented on #75
@stuartcusackie thanks! So you are using blade components? How do you grab the current entry on your blade component? I see Statamic variables are not available on the component.

@edalzell I've already tried 3.3 beta, and I got the same result for the `locales` tag with `Statamic::tag()`. An empty string. I guess this issue exists on every tag depending on the context to fetch content. For this p

[2022-03-07 12:41] stuartcusackie commented on #75
@dtorras - I am passing the entry id to the component like so:
`<x-locale-link :entry-id="$page['id']" locale="ga">GA</x-locale-link>`

Then in the component constructor you I do this:

[code]

[2022-03-07 19:28] dtorras commented on #75
Thanks, @edalzell!

I will test it a bit more and then maybe submit the issue to the core repo because I'm unsure if the lack of default context is really an issue or the expected behaviour.

For now, following @stuartcusackie comment, I'm passing the entry ID on each Blade view. I don't really like it, but it works.

To anyone who is in the same problem using Blade components, my temporal solutio

[2022-03-19 07:30] Skullbock commented on #78
@edalzell @furkanyesil See #79 👍🏻

[2022-03-19 21:56] #66 closed

[2022-03-19 22:05] edalzell commented on #73
Released in 3.6

[2022-03-19 22:05] edalzell commented on #78
Released in 3.6

[2022-03-19 22:05] #78 closed

[2022-03-19 22:13] edalzell commented on #73
released in 3.7

[2022-03-19 22:13] #73 closed

[2022-03-19 22:14] edalzell commented on #75
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:14] #75 closed

[2022-03-19 22:15] edalzell commented on #60
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:15] #60 closed

[2022-03-19 22:16] edalzell commented on #70
Sorry this broke for you @torian257x, I'd recommend updating to Statamic 3.3 and using the native tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:16] #70 closed

[2022-03-19 22:17] edalzell commented on #50
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:17] #50 closed

[2022-03-19 22:17] edalzell commented on #65
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:17] #65 closed

[2022-03-19 22:17] edalzell commented on #68
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:17] #68 closed

[2022-03-19 22:18] edalzell commented on #45
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:18] #45 closed

[2022-03-19 22:18] edalzell commented on #47
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:18] #47 closed

[2022-03-19 22:18] edalzell commented on #49
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:18] #49 closed

[2022-03-19 22:18] edalzell commented on #40
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:18] #40 closed

[2022-03-19 22:19] edalzell commented on #21
Please use native Statamic 3.3 tag [helper](https://statamic.dev/upgrade-guide/3-2-to-3-3#use-tags-in-blade), this addon will be archived.

[2022-03-19 22:19] #21 closed